@use "@carbon/react";
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/colors';
@use '@carbon/layout';

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}